html {
  width: 100vw;
  height: 100vw;
  background-image: url(./assets/medlock.jpg);
  background-size: cover;
}

.App {
  text-align: center;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: auto 20px 20px 20px 20px;
  justify-content: center;
  gap: 3px 3px;
}

.increment {
  justify-self: center;
  align-self: center;
}

.decrement {
  justify-self: center;
  align-self: center;
}

.points {
  justify-self: center;
  align-self: center;
}

.delete {
  justify-self: center;
  align-self: center;
}

.addRow {
  margin-top: 5px;
}
